<p style="color: green"><%= notice %></p>
<%= render @recipe %>
<div class="recipe-list-container">
  <%= link_to "Generate Shopping Lists", shopping_lists_path %>
  <%= link_to "Add ingredients", new_recipe_recipe_food_path(@recipe) %>
  <div>
    <table class="recipe-list-table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price $</th>
        </tr>
      </thead>
      <tbody>
        <% @recipe_foods.each do |item| %>
          <tr>
            <td><%= item.food.name %></td>
            <td><%= item.food.quantity %></td>
            <td><%= item.food.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= @recipe_foods.count %>
