<p style="color: green"><%= notice %></p>
<%= render @recipe %>
<div class="recipe-list-container">
  <%= link_to "Generate Shopping Lists", shopping_lists_path %>
  <%= link_to "Add ingredients", new_recipe_recipe_food_path(@recipe) %>
  <div>
    <table class="recipe-list-table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Value $</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @recipe_foods.each do |item| %>
          <tr>
            <td><%= item.food.name %></td>
            <td><%= item.food.quantity %></td>
            <td><%= item.food.price %></td>
            <td class="actions" style="display: flex; gap: 0.5rem; justify-content: center;"><%= button_to "Modify" %> <%= button_to "Remove", [@recipe, item], method: :delete %></td> 
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
